<div class="todo" [ngClass]="{ 'todo--completed': todo.completed }">
  <div class="todo__header">
    <h2 class="todo__title">{{ todo.title }}</h2>
  </div>

  <div class="todo__body">
    <div class="todo__description" *ngIf="todo.description">
      <h3 class="todo__subtitle">Description:</h3>
      <div class="todo__description-content">
        {{ todo.description }}
      </div>
    </div>
    <h3 class="todo__subtitle">Tasks:</h3>
    <ul class="todo__tasks-list">
      <li
        class="todo__tasks-list-item"
        *ngFor="let task of todo.tasks; let i = index"
      >
        <app-task
          [task]="task"
          [index]="i"
          [parentIndex]="index"
          (onChangeCompleted)="handleTaskCompletedChange($event)"
        ></app-task>
      </li>
    </ul>
  </div>

  <div class="todo__footer">
    <button
      class="todo__delete-button"
      type="button"
      (click)="handleRemoving()"
    >
      &times;
    </button>
  </div>
</div>
