.todo-dashboard {
  background-color: #4a8af4;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  padding: 0 10px;
  width: 100%;
}

.todo-dashboard__item {
  background-color: #efefef;
  flex-basis: 50%;
  width: 100%;
}

.todo-dashboard__item + .todo-dashboard__item {
  margin-left: 10px;
}

.todo-dashboard__item-header {
  background-color: #cdcdcd;
  padding: 25px 15px;
}

.todo-dashboard__item-title {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.todo-dashboard__item-body {
  padding: 35px 15px;
}
