<div class="todo-dashboard">
  <div class="todo-dashboard__item">
    <div class="todo-dashboard__item-header">
      <h2 class="todo-dashboard__item-title">Active todos</h2>
    </div>
    <div class="todo-dashboard__item-body">
      <app-uncompleted-todos-list></app-uncompleted-todos-list>
    </div>
  </div>

  <div class="todo-dashboard__item">
    <div class="todo-dashboard__item-header">
      <h2 class="todo-dashboard__item-title">Completed todos</h2>
    </div>
    <div class="todo-dashboard__item-body">
      <app-completed-todos-list></app-completed-todos-list>
    </div>
  </div>
</div>
