.task {
  align-items: flex-start;
  display: flex;
}

.task__status-checkbox {
  appearance: none;
  border-radius: 0;
  border: 2px solid #ddd;
  flex-shrink: 0;
  height: 20px;
  margin-right: 10px;
  transition: 0.4s;
  width: 20px;
}

.task__status-checkbox:hover {
  border: 2px solid #4a8af4;
  cursor: pointer;
}

.task__status-checkbox:checked {
  background-color: #4a8af4;
  border: 2px solid #4a8af4;
  box-shadow: inset 0 0 0 3px #fff;
}

.task--completed .task__status-checkbox:checked {
  background-color: #ddd;
  border: 2px solid #ddd;
  box-shadow: inset 0 0 0 3px #fff;
}

.task__title {
  display: block;
  line-height: 1.3;
  transition: 0.4s;
}

.task__title:hover {
  color: #4a8af4;
  cursor: pointer;
}

.task--completed .task__title {
  color: #ddd;
  text-decoration: line-through;
}

.task--completed:hover .task__title {
  color: #000;
}
