<div class="task" *ngIf="!task.completed">
  <input
    class="task__status-checkbox"
    type="checkbox"
    [checked]="task.completed"
    [id]="'task-' + index"
    (change)="handleStatusChange()"
  />
  <label [for]="'task-' + index" class="task__title">{{ task.title }}</label>
</div>

<div class="task task--completed" *ngIf="task.completed">
  <input
    class="task__status-checkbox"
    type="checkbox"
    [checked]="task.completed"
    [id]="'task-' + index"
    (change)="handleStatusChange()"
  />
  <label [for]="'task-' + index" class="task__title">{{ task.title }}</label>
</div>
