.add-todo__body {
  bottom: 75px;
  left: 0;
  margin: auto;
  max-width: 450px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2;
}

.add-todo__actions {
  padding-top: 25px;
  text-align: center;
}

.add-todo-form-visibility-toggler {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-flex;
  font-size: 0;
  height: 70px;
  justify-content: center;
  transition: 0.4s;
  width: 70px;
}

.add-todo-form-visibility-toggler:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.add-todo-form-visibility-toggler::before {
  font-size: 2rem;
}

.add-todo-form-visibility-toggler.add-todo-form-hidden::before {
  content: "\002B";
}

.add-todo-form-visibility-toggler.add-todo-form-hidden {
  background-color: #20a464;
  border: 2px solid #20a464;
}

.add-todo-form-visibility-toggler.add-todo-form-hidden:hover {
  background-color: #fff;
  color: #20a464;
}

.add-todo-form-visibility-toggler.add-todo-form-visible::before {
  content: "\2A09";
  font-size: 1.5rem;
  font-weight: bold;
}

.add-todo-form-visibility-toggler.add-todo-form-visible {
  background-color: #dd5044;
  border: 2px solid #dd5044;
}

.add-todo-form-visibility-toggler.add-todo-form-visible:hover {
  background-color: #fff;
  color: #dd5044;
}

.add-todo-form-visibility-background-toggler {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  bottom: 0;
  display: block;
  font-size: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.4s;
  width: 100%;
  z-index: 1;
}

.add-todo-form-visibility-background-toggler:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
